#header{
    width: 100%;
    margin: 10px auto;
    text-align: center;
	margin-top: 40px;
}
#header .title{
    font:bold 50px Arial;
	color:#776e65;
	margin: 0 auto;
}
#header .author{
    margin: 0 auto;
	text-align: right;
	font:14px Arial;
	padding-right: 30%;
	border: #ffffff;
}
#header .wrapper{
	display: flex;
	justify-content: space-between;
	width: 500px;
    margin: 0 auto;
}
#header .score-wrapper{
	width: 100px;
	background-color: #a18e7c;
	padding: 7px;
	border-radius: 7px;
	font:15px Arial;
}
#header .score-wrapper #txt{
	color: #f5ebda;
}
#header .score-wrapper #score{
	color: #f5ebda;
}
#header .newgame-wrapper #newGame{
	width: 100px;
	display: block;
	background-color: #a18e7c;
	text-decoration: none;
	padding: 7px;
	border-radius: 7px;
	color: #f5ebda;
	font: 15px Arial;
}
#header .newgame-wrapper #newGame:hover{
	background-color: #b59f8a;
	color: #000;
}
#grid{
	width: 460px;
	height: 460px;
	padding: 20px;
	background-color: #baaa9b;
	margin: 10px auto;
	border-radius: 11px;
	position: relative;
}
#grid .cell{
	width: 100px;
	height: 100px;
	background-color: #cfc1b4;
	border-radius: 7px;
	position: absolute;
}
#grid .cell-number{
	background-color: #fff;
	border-radius: 7px;
	position: absolute;
	font:bold 55px Arial;
	text-align: center;
	line-height: 100px;
}
